.App {
    width: 500px;
    min-height: 200px;
    margin: 1em auto;
    border-radius: 3px;
}

.well {
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px var(--box-shadow);
    margin: 2em 0px;
    background: var(--bg-primary);
}

.controls {
    display: flex;
    flex-direction: column;
}

.controls > input {
    font-size: 1.7em;
    padding: 5px;
    border-radius: 3px;
    margin-right: 5px;
    border: 0px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--border-input);
    background: var(--bg-input);
    color: var(--color-input);
}

.button {
    padding: 5px 1em;
    border: transparent;
    border-radius: 3px;
    margin-right: 5px;
    font-weight: bold;
    font-size: 1.2em;
}

.button-blue,
.button-green,
.button-red   { color:#fff; }
.button-blue  { background: var(--bg-btn-blue);  }
.button-green { background: var(--bg-btn-green); }
.button-red   { background: var(--bg-btn-red);   }

.button-blue:hover  { background: var(--bg-btn-blue-hover);  }
.button-red:hover   { background: var(--bg-btn-red-hover);   }