:root {
    --bg-primary:  #fff;
    --bg-secondary:#eee;
    --bg-input: #fdfdfd;

    --box-shadow: #cecece;

    --border-input:#f4f4f4;

    --bg-btn-blue: #1470e6;
    --bg-btn-green: #1ca400;
    --bg-btn-red: #da2020;
}

body {
    background: var(--bg-secondary);
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a:hover, button:hover, .link:hover, .button:hover {
    cursor: pointer;
}