.todo-element {
    padding: 5px;
    display: flex;
}

.todo-element:hover {
    background: var(--bg-secondary);
    cursor: pointer;
}

input[type='checkbox'] {
    width: 32px;
    height: 32px;
}

.todo-name {
    flex-grow: 1;
    font-size: 1.3em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}